* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header {
    padding: 16px 0px;
    background-color: rgb(87, 87, 87);
    color: aliceblue;
}

header li a {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 16px;
    font-weight: bold;
}

header li a:hover {
    text-decoration: underline;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding: 16px 0px;
}

section h2, article {
    margin-bottom: 16px;
}

.articles h3 {
    padding: 8px 0px;
    font-size: 24px;
}

header li { 
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap; /* adequa a página */
    justify-content: space-between; /* distribui espaço entre os conteúdos */
}

.articles article img {
    height: 272px;
    width: 100%;
}

.articles  article {
    width: 30%
}

.articles article a {
    background-color: rgba(0, 255, 0, 0.5);
    color: white;
    padding: 6px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p, .articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#economy {
    background-color: rgb(253, 253, 175);
}

#economy .articles a {
    background-color: rgb(233, 129, 31);
}

#music {
    background-color: rgb(204, 183, 224);
}

#music .articles a {
    background-color: blueviolet;
}

#games {
    background-color: rgb(164, 240, 240);
}

#games .articles article a {
    background-color: rgb(16, 167, 167);
}